{% extends 'base.html' %}
{% block title %}
{{ object }}
{% endblock %}
{% load staticfiles %}
{% block extra_head %}
<script>
	var apiUrl = "{% url 'comment-list' %}";
	var attachmentUrl = "{% url 'attachment-list' %}";
	var ticketId = {{ object.id }};
	var pageSize = {{ page_size }};
	var user = '{{ user.username }}';
</script>
<script src="{% static 'js/comment.js' %}"></script>
{% endblock %}

{% block content %}
<section id="ticket">
	<article class="row">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">{{ object.name }}</h3>
				{% if object.status != 'Accepted' %}
				<a href="{% url 'ticket_accept' object.id %}" class="btn btn-success pull-right" role="button">Прийняти</a>
				{% elif object.owner == request.user %}
				<a href="{% url 'ticket_close' object.id %}" class="btn btn-danger pull-right" role="button">Закрити</a>
				{% endif %}
			</div>
			<div class="panel-body">
				<p class="text">Пріоритет: {{ object.priority }}</p>
				<p class="text">Тип: {{ object.goal }}</p>
				<p class="text">Статус: {{ object.status }}</p>
				<p class="text">Бали: {{ object.points }}</p>
				{% if object.owner %}
					<p class="text">Власник: <a href="{% url 'profile' object.owner %}">{{ object.owner }}</a></p>
				{% endif %}
				<a href="{% url 'projects_detail' object.project.id %}">Перейти до проекту</a>
				<hr>
				<p class="text">{{ object.description | linebreaks }}</p>
			</div>
		</div>
	</article>
</section>
<section>
	<h3 class="text">Файли</h3>
	<ul class="list-group" id="files">
		<!--{% for file in files %}
			<li class="list-group-item"><a href="{{ file.attachment.url }}" target="_blank">{{ file.name }}</a></li>
		{% endfor %}-->
	</ul>
	<hr>
	<a href="{% url 'ticket_attach' object.id %}">Додати файл</a>
</section>
<section id="comments">
	<h3 class="text">Коментарі</h3>
</section>
<section class="row">
	<nav id="pageNav">
		<ul id="pages" class="pagination">
		</ul>
	</nav>
</section>
<hr>
<section>
	<article id="messages">
		<div class="alert alert-danger" role="alert"><p class="text" id="message"></p></div>
	</article>
	<form id="commentForm" class="form-horizontal">
		{% csrf_token %}
		{{ form.as_p }}
		<button id="commentSubmit" type="button" class="btn btn-success">Відправити</button>
	</form>
</section>

{% endblock %}