{% extends 'base.html' %}
{% block title %}
{{ object }}
{% endblock %}
{% load staticfiles %}
{% block extra_head %}
<script>
	var apiUrl = "{% url 'comment-list' %}";
	var attachmentUrl = "{% url 'attachment-list' %}";
	var ticketId = {{ object.id }};
	var pageSize = {{ page_size }};
	var user = '{{ user.username }}';
</script>
<script>
function getCookie(name) {
	var cookieValue = null;
	if (document.cookie && document.cookie != '') {
		var cookies = document.cookie.split(';');
		for (var i = 0; i < cookies.length; i++) {
			var cookie = jQuery.trim(cookies[i]);
						// Does this cookie string begin with the name we want?
						if (cookie.substring(0, name.length + 1) == (name + '=')) {
							cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
							break;
						}
				}
		}
		return cookieValue;
};

var getComments = function(page){
	var url = apiUrl + '?ticket=' + ticketId
	if(!page){
		page = 'last';
	} else {
		page = page.toString();
	};
	url += '&page=' + page;
	$.get(url, function(data, status){
		renderComments(data);
		addPaginationNav(data, page);
	}).fail(function(){
		// get last page if fail
		getComments();
	});

};

var renderAttachments = function(data){
		data.forEach(function(obj){
			var attachments = $('#files');
			var li = $('<li/>', {
				'class': 'list-group-item',
			}).appendTo(attachments);
			$('<a/>', {
				'href': obj.url,
				'html': obj.name,
				'target': '_blank',
			}).appendTo(li);
		});
};

var getAttachments = function(){
	var url = attachmentUrl + '?ticket=' + ticketId.toString() + '&newer_than=' + newestId.toString();
	$.get(url, function(data, status){
		if(data.length > 0){
			newestId = data[data.length - 1].id;
			renderAttachments(data);
		};
	});
};

var addPaginationNav = function(data, page){
	var currentCount = data['results'].length;
	var count = parseInt(data['count']);
	var pages = $('#pages');
	pagesCount = Math.ceil((count - (count % pageSize)) / pageSize) + Math.ceil((count % pageSize) / pageSize);
	$('li.page').remove();
	// disable previous links if nessecary
	if(!page || page == 'last'){
		currentPage = pagesCount;
	} else {
		currentPage = page;
	};
	for(var i = 1; i <= pagesCount; i++){
		var li = $('<li/>').addClass('page');
		if(i == currentPage){
			li.addClass('active');
		};
		var a = $('<a/>', {
			'class': 'pageLink'
		}).html(i).appendTo(li);
		li.appendTo(pages);
	};

	$('.pageLink').click(function(){
		var newPage = $(this).html();
		if(newPage != currentPage){
			$('.page').removeClass('active');
			$(this).parent().addClass('active');
			getComments(newPage);
		};
	});
};

var deleteComment = function(id){
	var url = apiUrl + id.toString();
	$.ajax({
		type: "DELETE",
		url: url,
		beforeSend: function(xhr) {
			xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
		},
		success: function() {
			getComments(currentPage);
		},
	});
};

var renderComments = function(data){
	// first get the last comments' page
	$('.comment').remove();
	var amount = data['count'];
	var comments = $('#comments');
	data['results'].forEach(function(obj){
		var row = $('<article/>', {
			'class': 'row comment'
		}).appendTo(comments);
		var panel = $('<div/>', {
			'class': 'panel panel-primary'
		}).appendTo(row);
		var heading = $('<div/>', {
			'class': 'panel-heading'
		}).appendTo(panel);
		$('<h3/>', {
			'class': 'panel-title'
		}).html('<a href="/users/' + obj.author + '">' + obj.author + '</a>').appendTo(heading);
		var body = $('<div/>', {
			'class': 'panel-body'
		}).appendTo(panel);
		$('<p/>', {
			'class': 'text comment-text'
		}).html(encodeURI(obj.text.replace(/\r\n|\n|\r/gm, '<br />'))).appendTo(body);
		if(user == obj.author){
			$('<button/>', {
				'type': 'button',
				'class': 'btn btn-default pull-right deleteable',
				'id': obj.id
			}).html('Видалити').appendTo(heading);
		};
	});
	$('.deleteable').click(function(){
		deleteComment(parseInt($(this).attr('id')));
	});
};

var handleComments = function(){
	// ajax polling, update only current page and pagination nav
	getComments(currentPage);
};

$(document).ready(function(){
	getComments();
	var msg = $('#message');
	var msgContainer = $('#messages');
	msgContainer.hide();
	newestId = 0;
	getAttachments();
	$('#commentSubmit').click(function(){
		var textInput = $('#id_text');
		$.ajax({
			url: apiUrl,
			type: 'post',
			data: {
				text: textInput.val(),
				ticket: ticketId,
			},
			beforeSend: function(xhr, settings) {
				xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
			},
			dataType: 'json',
			complete: function (data, status) {

				if(status == 'error'){
					msg.text('Ублюдок, введи текст коменту!');
					msgContainer.show();

				}
				else {
					msg.text('');
					msgContainer.hide();
					getComments();
				}
				textInput.val('');
			}
		});
	});
	setInterval(handleComments, 1000);
	setInterval(getAttachments, 5000);
});
</script>
{% endblock %}

{% block content %}
<section id="ticket">
	<article class="row">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">{{ object.name }}</h3>
				{% if object.status != 'Accepted' %}
				<a href="{% url 'ticket_accept' object.id %}" class="btn btn-success pull-right" role="button">Прийняти</a>
				{% elif object.owner == request.user %}
				<a href="{% url 'ticket_close' object.id %}" class="btn btn-danger pull-right" role="button">Закрити</a>
				{% endif %}
			</div>
			<div class="panel-body">
				<p class="text">Пріоритет: {{ object.priority }}</p>
				<p class="text">Тип: {{ object.goal }}</p>
				<p class="text">Статус: {{ object.status }}</p>
				<p class="text">Бали: {{ object.points }}</p>
				{% if object.owner %}
					<p class="text">Власник: <a href="{% url 'profile' object.owner %}">{{ object.owner }}</a></p>
				{% endif %}
				<a href="{% url 'projects_detail' object.project.id %}">Перейти до проекту</a>
				<hr>
				<p class="text">{{ object.description | linebreaks }}</p>
			</div>
		</div>
	</article>
</section>
<section>
	<h3 class="text">Файли</h3>
	<ul class="list-group" id="files">
		<!--{% for file in files %}
			<li class="list-group-item"><a href="{{ file.attachment.url }}" target="_blank">{{ file.name }}</a></li>
		{% endfor %}-->
	</ul>
	<hr>
	<a href="{% url 'ticket_attach' object.id %}">Додати файл</a>
</section>
<section id="comments">
	<h3 class="text">Коментарі</h3>
</section>
<section class="row">
	<nav id="pageNav">
		<ul id="pages" class="pagination">
		</ul>
	</nav>
</section>
<hr>
<section>
	<article id="messages">
		<div class="alert alert-danger" role="alert"><p class="text" id="message"></p></div>
	</article>
	<form id="commentForm" class="form-horizontal">
		{% csrf_token %}
		{{ form.as_p }}
		<button id="commentSubmit" type="button" class="btn btn-success">Відправити</button>
	</form>
</section>

{% endblock %}
