{% extends 'base.html' %}

{% block title %}
{{ object.name }}
{% endblock %}

{% block content %}

<article class="row">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">{{ object.name }}</h3>
		</div>
		<div class="panel-body">
			<p class="text">Клієнт: {{ object.customer }}</p>
			<p class="text">Дедлайн: {{ object.deadline }}</p>
			<p class="text">Репозиторій: {{ object.repo_url }}</p>
			<p class="text">Вартість: {{ object.cost }}</p>
			<hr>
			<p class="text">{{ object.description | linebreaks }}</p>
			<p class="text">ТЗ:</p>
			{% for tor in object.tor_set.all %}
				<p class="text"><a href="{% url 'tor_detail' tor.id %}">{{ tor }}</a></p>
			{% endfor %}
			<p class="text">Розробники:</p>
			<p class="text">
				{% for dev in object.developers.all %}
					<a href="{% url 'profile' dev %}">{{ dev }}</a>
				{% endfor %}
			</p>
		</div>
	</div>
</article>

{% if accepted_tickets %}
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Працюють над:</h3>
	</div>
	<div class="panel panel-body">
		<article class="row">
			<table class="table table-hover table-striped">
				<th class="row">
					<td class="col-xs-4">
						Name
					</td>
					<td class="col-xs-1">
						Priority
					</td>
					<td class="col-xs-2">
						Goal
					</td>
					<td class="col-xs-1">
						Points
					</td>
					<td class="col-xs-2">
						Status
					</td>
					<td class="col-xs-2">
						Owner
					</td>
				</th>
				{% for t in accepted_tickets %}
				<tr class="row">
					<td class="col-xs-4">
						<a href="{% url 'ticket_detail' t.id %}">{{ t.name }}</a>
					</td>
					<td class="col-xs-1">
						{{ t.priority }}
					</td>
					<td class="col-xs-2">
						{{ t.goal }}
					</td>
					<td class="col-xs-1">
						{{ t.points }}
					</td>
					<td class="col-xs-2">
						{{ t.status }}
					</td>
					<td class="col-xs-2">
						<a href="{% url 'profile' t.owner %}">{{ t.owner }}</a>
					</td>
				</tr>
				{% endfor %}
			</table>
		</article>
	</div>
</div>
{% else %}
<article class="row">
	<h3 class="text">Ніхто не працює над проектом :-(</h3>
</article>
{% endif %}

{% if assigned_tickets %}
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Присвоєні тікети:</h3>
	</div>
	<div class="panel panel-body">
		<article class="row">
			<table class="table table-hover table-striped">
				<th class="row">
					<td class="col-xs-4">
						Name
					</td>
					<td class="col-xs-1">
						Priority
					</td>
					<td class="col-xs-2">
						Goal
					</td>
					<td class="col-xs-1">
						Points
					</td>
					<td class="col-xs-2">
						Status
					</td>
					<td class="col-xs-2">
						Owner
					</td>
				</th>
				{% for t in assigned_tickets %}
				<tr class="row">
					<td class="col-xs-4">
						<a href="{% url 'ticket_detail' t.id %}">{{ t.name }}</a>
					</td>
					<td class="col-xs-1">
						{{ t.priority }}
					</td>
					<td class="col-xs-2">
						{{ t.goal }}
					</td>
					<td class="col-xs-1">
						{{ t.points }}
					</td>
					<td class="col-xs-2">
						{{ t.status }}
					</td>
					<td class="col-xs-2">
						<a href="{% url 'profile' t.owner %}">{{ t.owner }}</a>
					</td>
				</tr>
				{% endfor %}
			</table>
		</article>
	</div>
</div>
{% else %}
<article class="row">
	<h3 class="text">Немає присвоєних тікетів.</h3>
</article>
{% endif %}

{% if unassigned_tickets %}
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Вільні тікети</h3>
	</div>
	<div class="panel panel-body">
		<article class="row">
			<table class="table table-hover table-striped">
				<th class="row">
					<td class="col-xs-4">
						Name
					</td>
					<td class="col-xs-2">
						Priority
					</td>
					<td class="col-xs-2">
						Goal
					</td>
					<td class="col-xs-2">
						Points
					</td>
					<td class="col-xs-2">
						Status
					</td>
				</th>
				{% for t in unassigned_tickets %}
				<tr class="row">
					<td class="col-xs-4">
						<a href="{% url 'ticket_detail' t.id %}">{{ t.name }}</a>
					</td>
					<td class="col-xs-2">
						{{ t.priority }}
					</td>
					<td class="col-xs-2">
						{{ t.goal }}
					</td>
					<td class="col-xs-2">
						{{ t.points }}
					</td>
					<td class="col-xs-2">
						{{ t.status }}
					</td>
				</tr>
				{% endfor %}
			</table>
		</article>
	</div>
</div>
{% else %}
<article class="row">
	<h3 class="text">Немає вільних тікетів.</h3>
</article>
{% endif %}

{% if closed_tickets %}
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Завершені тікети:</h3>
	</div>
	<div class="panel panel-body">
		<article class="row">
			<table class="table table-hover table-striped">
				<th class="row">
					<td class="col-xs-4">
						Name
					</td>
					<td class="col-xs-1">
						Priority
					</td>
					<td class="col-xs-2">
						Goal
					</td>
					<td class="col-xs-1">
						Points
					</td>
					<td class="col-xs-2">
						Status
					</td>
					<td class="col-xs-2">
						Owner
					</td>
				</th>
				{% for t in closed_tickets %}
				<tr class="row">
					<td class="col-xs-4">
						<a href="{% url 'ticket_detail' t.id %}">{{ t.name }}</a>
					</td>
					<td class="col-xs-1">
						{{ t.priority }}
					</td>
					<td class="col-xs-2">
						{{ t.goal }}
					</td>
					<td class="col-xs-1">
						{{ t.points }}
					</td>
					<td class="col-xs-2">
						{{ t.status }}
					</td>
					<td class="col-xs-2">
						<a href="{% url 'profile' t.owner %}">{{ t.owner }}</a>
					</td>
				</tr>
				{% endfor %}
			</table>
		</article>
	</div>
</div>
{% else %}
<article class="row">
	<h3 class="text">Жоден тікет не був завершений.</h3>
</article>
{% endif %}

<a href="{% url 'ticket_add' object.id %}">Додати тікет</a>

{% endblock %}