{% extends 'base.html' %}

{% block title %}
{{ object.name }}
{% endblock %}

{% block content %}

<article class="row">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">{{ object.name }}</h3>
		</div>
		<div class="panel-body">
			<p class="text">Клієнт: {{ object.customer }}</p>
			<p class="text">Дедлайн: {{ object.deadline }}</p>
			<p class="text">Репозиторій: {{ object.repo_url }}</p>
			<hr>
			<p class="text">{{ object.description | linebreaks }}</p>
		</div>
	</div>
</article>

{% if tickets %}
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Тікети</h3>
	</div>
	<div class="panel panel-body">
		<article class="row">
			<table class="table table-hover table-striped">
				<th class="row">
					<td class="col-xs-4">
						Name
					</td>
					<td class="col-xs-2">
						Priority
					</td>
					<td class="col-xs-2">
						Goal
					</td>
					<td class="col-xs-2">
						Status
					</td>
					<td class="col-xs-2">
						Owner
					</td>
				</th>
				{% for t in tickets %}
				<tr class="row">
					<td class="col-xs-4">
						<a href="{% url 'ticket_detail' t.id %}">{{ t.name }}</a>
					</td>
					<td class="col-xs-2">
						{{ t.priority }}
					</td>
					<td class="col-xs-2">
						{{ t.goal }}
					</td>
					<td class="col-xs-2">
						{{ t.status }}
					</td>
					<td class="col-xs-2">
						<a href="{% url 'profile' object.owner.id %}">{{ t.owner }}</a>
					</td>
				</tr>
				{% endfor %}
			</table>
		</article>
	</div>
</div>
{% else %}
<article class="row">
	<p class="text">No tickets.</p>
</article>
{% endif %}
<a href="{% url 'ticket_add' object.id %}">Додати тікет</a>

{% endblock %}