{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title%}{% endblock %} - Task247</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
	<script
  src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style media="screen">
	section.container {
		width: 80%;
		margin-right: auto;
		margin-left: auto;
	}
	/* Sticky footer styles
	-------------------------------------------------- */
	html {
		position: relative;
		min-height: 100%;
	}
	body {
		/* Margin bottom by footer height */
		margin-bottom: 60px;
	}
	.footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		/* Set the fixed height of the footer here */
		height: 60px;
		background-color: #f5f5f5;
	}
	</style>
  {% block extra_head %}{% endblock %}
</head>
<body>

	<header class="container">
		<h1>Task247</h1>
	</header>

	<nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Brand</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="{% url 'projects_list' %}">Проекти</a></li>
          <li><a href="#">Link</a></li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
          <p class="navbar-text">Привіт, <a href="{% url 'profile' request.user %}">{{ request.user.username}}!</a></p>
              {% if user.is_staff %}
              <li><a href="{% url 'admin:index' %}">Адмінка</a></li>
              <li><a href="{% url 'logout' %}">Вийти</a></li>
              {% endif %}
          {% else %}
          <li><a href="{% url 'register' %}">Реєстрація</a></li>
          <li><a href="{% url 'login' %}">Login</a></li>
          {% endif %}
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <section class="container">
    <article>
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
      {% endfor %}
      {% endif %}
    </article>
    {% block content %}
    {% endblock %}
  </section>

  <footer class="footer">
    <div class="container">
    <p class="text-muted">Футер.</p>
    </div>
  </footer>

</body>
</html>
